@use '../abstracts' as nav;

// Note: All variables import from abstracts
// needs to have a prefix of 'nav.'
nav {
    @include nav.default-navbar();
    z-index: 9;
    ul {
        display: flex;
        list-style: none;
        gap: nav.$font-size-small;
        a {
            color: nav.$txt-clr-primary;
            text-decoration: none;
            &:hover {
                color: nav.$txt-clr-secondary;
                text-decoration: underline;
            }
        }
    }
}