@use '../abstracts/' as btn;

button {
    width: min-content;
    @include btn.btn-primary;
    transition: all 500ms ease-in-out;
    &:hover {
        background-color: btn.$txt-clr-primary;
    }
}