$colors: (
    black: (
        10: hsl(0, 0%, 10%),
        20: hsl(0, 0%, 20%),
        30: hsl(0, 0%, 30%),
        40: hsl(0, 0%, 40%),
        50: hsl(0, 0%, 47%),
    ),
    white: (
        10: hsl(0, 0%, 90%),
        20: hsl(0, 0%, 80%),
        30: hsl(0, 0%, 70%),
        40: hsl(0, 0%, 60%),
        50: hsl(0, 0%, 55%),
    ),
    red: (
        10: hsla(11, 93%, 72%, 1),
        20: hsla(12, 100%, 60%, 1),
        30: hsla(351, 87%, 48%, 1),
        40: hsla(342, 87%, 45%, 1),
        50: hsla(0, 87%, 27%, 1),
    ),
    orange: (
        10: hsla(20, 100%, 73%, 1),
        20: hsla(29, 100%, 64%, 1),
        30: hsla(16, 100%, 69%, 1),
        40: hsla(29, 100%, 49%, 1),
        50: hsla(25, 100%, 49%, 1),
    ),
    yellow: (
        10: hsla(43, 100%, 78%, 1),
        20: hsla(41, 100%, 70%, 1),
        30: rgb(250, 208, 117),
        40: hsla(40, 100%, 66%, 1),
        50: hsla(46, 100%, 65%, 1),
    ),
    green: (
        10: hsla(122, 33%, 84%, 1),
        20: hsla(151, 28%, 63%, 1),
        30: hsla(190, 24%, 44%, 1),
        40: hsla(186, 26%, 31%, 1),
        50: hsla(206, 24%, 28%, 1),
    ),
);