// All Mixins no matter what they are use for, are all to be stored in here-->

@use './colors' as *;
@use './media-query' as *;
@use './variables' as *;

// Basic Navbar
@mixin default-navbar($position: inherit) {
    position: $position;
    width: 100vw; // Corrected from 100dvw to 100vw
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $font-size-medium;
    background:  map-get(map-get($colors, white), 20); // Use the correct variable name here
}

// Basic Buttons 
@mixin btn-primary($aspt: 16/9) {
    background-color: $bg-gray;
    color: $txt-clr-secondary;
    padding: $font-size-small;
    border: none;
    aspect-ratio: $aspt;
    font-size: $font-size-medium;
}

// Section mixin as Grid
@mixin grid-section-container($bg-clr: gray, $aspect: 16/9) {
    background-color: $bg-clr;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    aspect-ratio: $aspect;
}
