// _variables.scss
@use './colors' as *;

// Font Sizes
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;
$font-size-heading: 24px;

// Font Colors
$primary-txt-clr: map-get(map-get($colors, black), 10);
$secondary-txt-clr: map-get(map-get($colors, green), 40);
$neutral-txt-clr: map-get(map-get($colors, white), 50);
$alert-txt-color: map-get(map-get($colors, red), 20);

// Font Weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Others font related
$link-hover: map-get(map-get($colors, orange), 50);

// Background Colors
$bg-gray: map-get(map-get($colors, white), 20);


